* {
    margin: 0px;
    padding: 0px;

    text-decoration: none;
    list-style: none;

    box-sizing: border-box;
}

header {
    height: 15vh;
}

nav {
    height: 100%;

    justify-content: space-around;
    align-items: center;
}

nav p {
    color: #707070;
}

.navBox {
    height: 100%;
    width: 15%;

    justify-content: space-between;
    align-items: center;
}

.btnPremium {
    padding: 5px;

    border: 2px solid #007af3;
    border-radius: 15px;
    background-color: white;
}

/* Begining of the first big section */
.mindBlownContainer {
    background-color: #F2F2F2;
}

/* Left part of first big section */
.mindBlown {
    flex: 3;

    justify-content: center;
    align-items: center;
}

.textContianer {
    height: 250px;
    width: 250px;
}

.textContianer p {
    color: #8B8B8B;
    font-size: 18px;
}

.textContianer h1 {
    font-size: 45px;
}

.buttonContainer {
    height: 50px;

    justify-content: space-between;
    align-items: center;
}

.btnForFree {
    height: 35px;
    width: 95px;

    border: 1px solid #007af3;
    border-radius: 20px;

    color: white;
    font-size: 11px;
    font-weight: bold;
    background-color: #007af3;
}

.iconTextHolder {
    align-items: center;
}

.cameraIcon {
    height: 25px;
}

p.camText {
    height: auto;

    text-decoration: underline;
}

/* Right part of firt big section */
.graphicContainer {
    flex: 2;

    justify-content: center;
    align-items: center;
}

.taskList {
    height: 450px;
}
/* End of first big section */

/* begining of the second big section */
.checklistContainer {
    position: relative;

    background-color: #3B4651;
}

.offcenterBlock {
    height: 450px;
    width: 200px;

    position: absolute;
    top: -125px;

    background-color: #007af3;
}

.coolDots {
    height: 150px;

    position: absolute;
    top: 150px;
    left: 95px;
}

.checklist {
    height: 500px;
    width: 350px;

    margin: auto;
}

.checklistItem p {
    color: #8B8B8B;

    margin-right: auto;
    margin-left: 10px;
}

.checklistItem {
    width: auto;

    padding-top: 35px;

    align-items: center;
}

.imgBackg {
    height: 300px;
    width: 265px;

    position: absolute;
    right: 0px;
    bottom: -125px;

    background-color: #3B4651;
}

.imgContainer {
    height: 300px;
    width: 265px;

    position: absolute;
    right: 0px;
    bottom: -125px;

    background-image: url(../images/img/phone.png);
    mix-blend-mode: luminosity;
    background-size: contain;
    background-repeat: no-repeat;
}

/* End of the second big section */

/* Begining of third big section */
.testimoniesContainer {
    padding-top: 50px;

    background: #007af3;
    
    align-items: center;
}

.card {
    height: 400px;
    width: 300px;
}

.testimoniesContainer img {
    
}

.testimonieBox {
    height: 300px;

    background-color: #006FDC;
    border-radius: 30px;

    color: white;
}

/* End of third big section */

/* Help classes */

.addFlex {
    display: flex;
}

.makePrimaryColor {
    color: #007af3;
}

.makeBold {
    font-weight: bold;
}

.hero {
    height: 500px;
}