@charset "utf-8";

body {
    background-color: aqua;
    
    overflow-y: hidden;
}

h1 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "left middle right"
        "left middle right"
        "left middle right"
        "left footer right";
    
    height: auto;
    width: 100%;
}

.grid-item:nth-child(1) {
    grid-area: left;
    
}

.grid-item:nth-child(2) {
    grid-area: middle;
    
    background-color: aquamarine
}

.grid-item:nth-child(3) {
    grid-area: right;
    
}

.grid-item:nth-child(4) {
    grid-area: footer;
    
}

.grid-portfolio {
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    
    grid-gap: 5px;
}

.grid-portfolio-item {
    display: flex;
    
    align-content: center;
    justify-content: center;
}

.grid-portfolio-item img {
    transition: .5s;
}

.grid-portfolio-item img:hover {
    transform: scale(1.4);
}