@charset "UTF-8";

* {
    box-sizing: border-box;
    
    padding: 0px;
    margin: 0px;
    
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;

    overflow-x: hidden;
}

body {
    background-color: rgb(177, 33, 33);
}

header {

    display: flex;
    flex-flow: column;
    justify-content: center;

    min-height: 30vh;
    width: 100vw;

    box-shadow: 0px 4px 4px lightgray;
}

header h1 {
    font-size: 64px;
    font-weight: 100px;

    line-height: 120px;
}

header button {
    height: 8vh;
    width: 20vw;

    border-radius: 20px;
    outline: none;

    font-size: 22px;
    font-weight: 200px;

    transition: all 0.3s;
}

header button:hover {
    cursor: pointer;

    background-color: orange;
    color: white;
}

.container {
    display: flex;
}

nav {
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    height: 100vh;

    flex: 1;
}

nav ul {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
}

ul li {
    border-bottom: 2px solid white;
    display: flex;
    height: 50px;
    width: 100%;
}

ul li a {
    color: white;
    
    font-size: 22px;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;
}

ul li a:hover {
    background-color: orange;

    font-weight: 700;
}

main {
    flex: 4;
}

.main-content {
    height: 300px;

    display: flex;
}

.main-child {
    display: flex;

    flex: 1;
    justify-content: center;
    align-items: center;

    border: 1px solid white;

    padding: 20px;

    background-size: cover;
    background-repeat: no-repeat;

    font-size: 42px;
}

.main-child h1 {
    font-weight: 100;
}

.main-content .a {
    background-image: url(../images/main/canada-lake.jpg);
}

.main-content .b {
    background-image: url(../images/main/stockholm-city.jpg);
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    height: 50px;

    background-color: rgb(26, 142, 26);
    color: white;

    border-top: 2px solid black;
}

footer p {
    font-size: 20px;
}

/******************************************
************** Special Classes **************
******************************************/

.highlighted {
    background-color: orange;

    font-weight: 700;
}

.special {
    font-size: 100px;
}