@charset "UTF-8";

* {
    box-sizing: border-box;
    
    padding: 0px;
    margin: 0px;

    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(177, 33, 33);
}

header {
    min-height: 30vh;
    width: 50vw;

    box-shadow: 0px 4px 4px lightgray;
}

header h1 {
    font-size: 64px;
    line-height: 120px;
}

header button {
    height: 8vh;
    width: 20vw;

    border-radius: 20px;
    outline: none;

    font-size: 22px;
    font-weight: 200px;
}