@charset"utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(244, 63, 60);
    
    padding-top: 150px;
    padding-bottom: 150px;
    
}

.desktop-container {
    background-color: rgb(255, 255, 255);
    
    min-height: 150vh;
    width: 75vw;
    
    margin: auto;
    padding: 5px;
}

nav {
    display: flex;
}