@charset"utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(244, 63, 60);
    
    padding-top: 150px;
    padding-bottom: 150px;
    
}

.desktop-container {
    background-color: rgb(255, 255, 255);
    
    min-height: 150vh;
    width: 75vw;
    
    border-radius: 5px;
    
    margin: auto;
    padding: 5px;
}

header {
    padding: 10px;
}

.logo-fragment-1 {
    background-color: rgb(138, 43, 226);
    
    height: 100px;
    width: 100px;
    
    border-radius: 50px;
    
    margin: auto;
    margin-bottom: 10px;
}

.logo-fragment-2 {
    background-color: rgb(255, 244, 33);
    
    height: 75px;
    width: 75px;
    
    border-radius: 37.5px;
    
    margin: auto;
}

.nav-container {
    height: auto;
    width: 50%;
    
    margin: auto;
}

nav {
    display: flex;
    
    justify-content: space-between;
}

.scroller-container {
    background-color: rgb(211, 211, 211);
    
    min-height: 250px;
    width: 100%;
    
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    border-radius: 5px;
    
    display: flex;
    justify-content: space-around;
}

