html {
    min-height: 100%;
}

body {
    background: -webkit-linear-gradient(to bottom, rgb(121, 0, 121), rgb(78, 3, 118));
    background: linear-gradient(to bottom, rgb(121, 0, 121), rgb(78, 3, 118));
}

header {
    border: 2px solid black;
    height: auto;
    
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-bottom: auto;
    margin-top: auto;
    
    font-size: 80px;
    padding-left: 5px;
}

header h1:hover {
    color: transparent;
    background: -webkit-linear-gradient(to right, rgb(255, 158, 3), rgb(255, 0, 0), rgb(255, 158, 3));
    background: linear-gradient(to right, rgb(255, 158, 3), rgb(255, 0, 0), rgb(255, 158, 3));
    -webkit-background-clip: text;
    background-clip: text;
}

header img {
    width: 300px;
}

#easterEgg:hover {
    cursor: auto;
}

main {
    border-right: 2px solid black;
    display: flex; 
}

main section {
    width: 100%;
    text-align: center;
    
    margin: 16px;
    
    padding-left: 50px;
    padding-right: 50px;
}

main h1 {
    font-size: 30px;
}

main p {
    font-size: 20px;
    font-family: sans-serif;
}

aside {
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 15%;
    height: 500px;
}

nav {
    height: 100%;
    width: auto;
}

nav ul#mainNavigation {
    height: 100%;
    
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    text-align: center;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

a:hover {
    font-weight: bold;
    
    color: transparent;
     background: -webkit-linear-gradient(to right, rgb(255, 158, 3), rgb(255, 0, 0), rgb(255, 158, 3));
    background: linear-gradient(to right, rgb(255, 158, 3), rgb(255, 0, 0), rgb(255, 158, 3));
    -webkit-background-clip: text;
    background-clip: text;
}
a.activePage {
    font-weight: bold;
}

footer {
    border: 2px solid black;
    display: flex;
    
    justify-content: center;
}

footer p {
    
    
}

footer p:hover {
    color: transparent;
    background: linear-gradient(to right, rgb(22, 255, 3), rgb(10, 0, 255), rgb(22, 255, 3));
    -webkit-background-clip: text;
    background-clip: text;
}