html {
    min-height: 100%;
}

body {
    background: -webkit-linear-gradient(to bottom, rgb(121, 0, 121), rgb(78, 3, 118));
    background: linear-gradient(to bottom, rgb(121, 0, 121), rgb(78, 3, 118));
}

header {
    border: 2px solid black;
    height: auto;
    
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-bottom: auto;
    margin-top: auto;
    
    font-size: 80px;
    padding-left: 5px;
}

header img {
    width: 300px;
}

main {
    border-right: 2px solid black;
    display: flex; 
}

main section {
    width: 100%;
    text-align: center;
    margin: 16px;
    font-size: 15px;
}

aside {
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 15%;
    height: 500px;
}

nav {
    height: 100%;
    width: auto;
}

nav ul#mainNavigation {
    height: 100%;
    
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

a:hover {
    font-weight: bold;
}
a.activePage {
    font-weight: bold;
}

footer {
    border: 2px solid black;
}

footer p {
    text-align: center;
}