@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
}

header {
    border: 2px solid black;
}

header h1 {
    text-align: center;
}

nav {
    border: 2px solid black;
    
}

ul {
    list-style: none;
    
    padding-left: 30px;
}

.sub-menu-1 {
    visibility: hidden;
    
    height: 0px;
}

.drop-menu-1:hover .sub-menu-1 {
    visibility: visible;
    
    height: auto;
}

.sub-menu-2 {
    visibility: hidden;
    
    height: 0px;
}

.drop-menu-2:hover .sub-menu-2 {
    visibility: visible;
    
    height: auto;
}