@charset="utf-8";

.form-container {
    width: 50vw;
    height: auto;
    
    border: 1px solid black;
    
    padding: 20px;
}

.test-form {
    height: 100%;
}

.test-form fieldset {
    height: auto;
    
    padding: 10px;
}

.test-form legend {
    transform: rotate(5deg);
    color: white;
    background-color: black;
}

.form-required {
    color: red;
}

.test-form textarea {
    min-width: 50%;
    height: 100px;
    
    resize: none;
}

.test-form input {
    min-width: 50%;
}

.test-form input[type="text"] {
    color: red;
    padding: 5px;
}

.test-form p {
    display: flex;
    
    flex-flow: column;
}

.test-form button {
    outline: none;
}