@charset="utf-8";

header h1 {
    text-align: center;
}

.form-container {
   height: auto;
    width: 50vw;
    
    margin: auto;
    padding: 10px;
    
    border: 2px solid black;
}

.form {
    height: 100%;
}

.form p {
    display: flex;
    flex-flow: column;
}

fieldset {
    height: auto;
}

.form input {
    width: 50%;
    
    border-radius: 5px;
}

.form textarea {
    min-height: 80px;
    width: 300px;
    
    resize: none;
    
    border-radius: 5px;
}

span.required {
    color: red;
}

.form button {
    margin-bottom: 5px;
    padding: 5px;
    
    border-radius: 10px;
    
    font-size: 25px;
    
    background-color: white;
}

button:hover {
    cursor: pointer;
}