@charset"utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 5px;
}

header {
    height: 25px;
    
    margin-left: 500px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header input {
    border-radius: 5px;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.logo-container, .phonenumber-container{
    height: 150px;
    width: 200px;
    
    border: 2px solid black;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-fraktion-1 {
    background-color: rgb(138, 43, 226);
    
    height: 150px;
    width:  150px;
    
    border-radius: 75px;
}

.logo-fraktion-2 {
    background-color: rgb(255, 244, 33);
    
    margin: auto;
    
    height: 100px;
    width: 100px;
    
    border-radius: 50px;
}

.company-name-container {
    height: 150px;
    width: 800px;
    
    border: 2px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-name-container p {
    font-size: 100px;
}

.phonenumber-container {
    text-align: center;
}

.navigation {
    border: 2px solid black;
    
    height: 25px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation input {
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.featured-packages {
    height: 350px;
    width: 200px;
    
    border: 2px solid black;
}

.package-info {
    margin: 10px;
    
    display: flex;
    justify-content: space-between;
}

.package-info img {
    background-color: gray;
    
    height: 50px;
    width: 50px;
}

.featured-destination {
    height: 350px;
    width: 800px;
    
    border: 2px solid black;
}

.text-img-container {
    height: auto;
    width: auto;
    
    display: flex;
    justify-content: space-between;
}

.text-container {
    height: auto;
    width: 300px;
}

.img-container {
    height: 215px;
    width: 250px;
}

.img-container img {
    background-color: gray;
    
    height: 200px;
    width: 200px;
    
    display: block;
}

.img-scroller {
    
}

.img-scroller-container {
    padding: 5px;
    
    display: flex;
    justify-content: space-around;
}

.img-scroller-container img {
    background-color: gray;
    
    margin: 5px;
    
    height: 75px;
    width: 75px;
}

.advertisments {
    height: 350px;
    width: 200px;
}

.advertisment {
    height: 111px;
    width: 200px;
    
    border: 2px solid black;
}

#ad-place-1 a {
    display: block;
}

#ad-place-2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#ad-place-2 p, #ad-place-3 p {
    font-size: 50px;
    
    text-align: center;
}