@charset"utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 5px;
}

header {
    height: 25px;
    
    margin-left: 500px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header input {
    border-radius: 5px;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.logo-container, .phonenumber-container{
    height: 150px;
    width: 200px;
    
    border: 2px solid black;
}

.logo-container {
    
}

.logo-fraktion-1 {
    
}

.logo-fraktion-2 {
    
}

.company-name-container {
    height: 150px;
    width: 800px;
    
    border: 2px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-name-container p {
    font-size: 100px;
}

.phonenumber-container {
/*    få texten i mitten*/
}