@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 10px;
}

header {
    display: flex;
    
    justify-content: space-between;
}

.header-item {
    height: 50px;
    width: 300px;
    
    background-color: gray;
}

#first-header-item {
    margin-right: 10px;
}

#second-header-item {
    height: 50px;
    width: 500px;
}

nav {
    height: 30px;
    width: 100%;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    background-color: gray;
}

#section-container {
    display: grid;
    
    grid-template-columns: 3fr 1fr 1fr;
}

#first-grid-item, #second-grid-item {
    margin-right: 10px;
}

.collumn-one-item {
    background-color: gray;
    
    margin-bottom: 10px;
    
    height: 150px;
    width: 100%;
}

.collumn-one-item:nth-child(3) {
    height: 400px;
}

.collumn-two-item {
    background-color: gray;
    
    margin-bottom: 10px;
    
    height: 200px;
    width; 100%;
}

.collumn-two-item:nth-child(2) {
    height: 510px;
}

.collumn-three-item {
    background-color: gray;
    
    margin-bottom: 10px;
    
    height: 120px;
    width: 100%;
}

.collumn-three-item:nth-child(2) {
    height: 420px;
}

.collumn-three-item:nth-child(3) {
    height: 160px;
}

footer {
    background-color: gray;
    
    height: 75px;
    width: 100%;
}