@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 10px;
}

header {
    display: flex;
    
    justify-content: space-between;
}

.header-item {
    height: 50px;
    width: 300px;
    
    background-color: gray;
}

#first-header-item {
    margin-right: 10px;
}

#second-header-item {
    height: 50px;
    width: 500px;
}

nav {
    height: 30px;
    width: 100%;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    background-color: gray;
}

#section-container {
    display: grid;
    
    grid-template-columns: 2fr 1fr 1fr;
}

.grid-item {
    
    
    background-color: gray;
}