@charset="utf-8";

.form-container {
    width: 50vw;
    height: auto;
    
    border: 1px solid black;
    
    padding: 20px;
}

.test-form {
    height: 100%;
}

.test-form fieldset {
    height: auto;
}

.form-required {
    color: red;
}

.test-form textarea {
    width: 200px;
    height: 100px;
    
    resize: none;
}