@charset="utf-8";

header h1 {
    text-align: center;
}

.form-container {
   height: auto;
    width: 50vw;
    
    margin: auto;
    padding: 10px;
    
    border: 2px solid black;
}

.form {
    height: 100%;
}

fieldset {
    height: auto;
}

.form textarea {
    min-height: 80px;
    width: 300px;
    
    resize: none;
}

span.required {
    color: red;
}