@charset "utf-8";

body {
    background-color: rgb(195, 230, 0);
    margin: 0;
    padding: 0;
}

.grid-container {
    background-color: rgb(35, 0, 230);
    
    width: 80%;
    height: 100vh;
    
    margin-left: auto;
    margin-right: auto;
    
    box-shadow: 5px 0px 5px black, -5px 0px 5px black;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}



.grid-item:nth-child(1) {
    background-color: rgb(96, 113, 1);
}

.grid-item:nth-child(2) {
    background-color: aqua;
}

.grid-item:nth-child(3) {
    background-color: rgb(96, 113, 1);
}

.grid-item:nth-child(4) {
    background-color: aqua;
}

.grid-item:nth-child(5) {
    background-color: rgb(96, 113, 1);
}
