@charset "UTF-8";

body {
    background-color: rgb(204, 0, 255);

    padding: 10px;
}

.time {
    display: flex;
}

.time > * {
    margin: 5px;
}

.stopTime {
    background-color: rgb(0, 0, 0);
    color: silver;
    border-radius: 5px;

    outline: none;
    border: none;

    padding: 5px;

    transition: transform .4s ease;
}

.stopTime:active {
    transform: scale(1.5);
}


/*
    Object
*/

.container {
    display: flex;
}

#firstOutput, .posts {
    min-height: 300px;

    flex: 1;

    border: 5px double black;
    box-shadow: inset 2px 2px 10px black, 2px 2px 10px black;

    padding: 20px;
}

.updateCity {
    height: 16px;
    width: 80px;

    outline: none;
    border: none;

    transition: all .4s;
}

.updateCity:focus {
    height: 25px;
    width: 50%;
}

.changeText {
    color: #639;
    font-weight: bold;
    font-size: 32px;
    text-shadow: 200px -200px 5px #000;
    letter-spacing: 5px;
}

.toggleButtonBg {
    background-color: red;
}

.todo {
    list-style: none;
    padding: 0;
    width: 30%;
}
 
.todo li {
    font-size: 20px;
    height: 25px;
    background-color: #247294;
    text-align: center;
    border-bottom: 2px solid #25637e
}

li.todo-hover {
    background-color: #25637e;
    color: #fff;
}

li.todo-complete {
    text-decoration: line-through;
    background-color: #289424;
}

/******************************************************
                        Utility classes
******************************************************/

.addFlex {
    display: flex;
    flex-flow: row wrap;

}