body {
    background-color: rgba(255, 0, 0, .6);
}

h1 {
    color: rgba(0, 255, 0, 1);
    font-size: 50px;
}

p {
    font-style: italic;
    letter-spacing: 3px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

/*
# = id 
. = class
*/
ul#subpages li:first-child {
/*    color:rgba(174, 180, 25, 0.56);*/
    text-shadow: 1px 1px 1px ; /* x y and blur */
    font-size: 30px;
    text-align: center;
}

ul#subpages a {
    text-decoration: none;
}
ul#subpages a:hover {
    font-weight: bold;
    color: rgb(255, 255, 255)
}

nav ul li a {
    color:rgba(13, 5, 5, 1);
    text-decoration: none;
    font-size: 30px;
    
}


