@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

    text-decoration: none;

    box-sizing: border-box;
}

header {
    height: 75px;
    
    padding: 5px;

    border: 2px solid #FF6700;

    display: flex;
    align-items: center;
}

h1 {
    color: #00FBD1;
}

#asideContainer {
    display: flex;
}

#mainNav {
    min-height: 500px;
    flex: 1;

    border: 2px solid  #FF6700;
    border-top: none;
}

/* <<<placeholder för barn till mainNav>>>*/

#mainContent {
    flex: 7;
}

/* !!!SPECIAL THINGS!!! */