@charset "UTF-8";

body {
    background-color: rgb(128, 255, 212);
}

header h1 {
    text-align: center;
}

.blogg-container {
    
}

.blogg-section {
    background-color: rgb(255, 171, 128);
    border: 2px solid black;
    
    margin: auto;
    margin-bottom: 10px;
    
    width: 50vw;
    min-height: 50vh;
}

.section-header {
    height: auto;
    
    padding: 10px;
    
    display: flex;
    
    justify-content: space-between;
}

hr {
    border: 0px;
    height: 1px;
    
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    
}

.main-blogg-content {
    padding: 10px;
}