@charset "UTF-8";

body {
    background-color: rgb(128, 255, 212);
}

header h1 {
    text-align: center;
}

.blogg-container {
    
}

.blogg-section {
    background-color: #FFAB80;
    border: 2px solid black;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
    width: 50vw;
    min-height: 50vh;
}

.section-header {
    height: auto;
    
    padding: 10px;
    
    display: flex;
    
    justify-content: space-between
}

.main-blogg-content {
    padding: 10px;
}